body {
  box-sizing: border-box;
  font-family: sans-serif;
}

.btn {
  padding: 5px;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  background: none;
  box-shadow: none;
}

.btn:focus,
.btn:hover {
  outline: 0;
  cursor: pointer;
}

.btn-expand-description {
  border-style: none;
  font-weight: bold;
  padding: 0;
}

.text-center {
  text-align: center;
}

#page {
  height: 100%;
}

#google_translate_element {
  display: inline-block
}

#google_translate_element span {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
  font-size: 0 !important;
}

.goog-te-combo {
  background: none;
  font-size: 18px !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  border: 0px solid transparent !important;
}

.goog-te-combo:focus {
  outline: 0;
}

.site-content {
  max-width: 1300px;
  margin: 0 auto;
}

header {
  padding: .5em;
  background: #2C3E50;
  color: white;
}

.header-title {
  text-align: center;
  font-size: 1.5em;
  padding: .3em;
}

header img {
  vertical-align: middle;
  width: 2em;
  height: 2em;
  margin: 0 .5em;
  cursor: hand;
}

header input[type=text] {
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  padding: .2em;
  margin-bottom: 0;
}

header span {
  display: block;
  height: 2em;
  overflow: auto;
}

.header-search {
  max-width: 1300px;
  margin: .5em auto;
}

#menu_button {
  float: left;
}

#search_button {
  float: right;
}

#content {
  position: relative;
}

#menu {
  position: relative;
  z-index: 2;
  width: 100%;
  min-height: 100%;
  text-align: center;
  margin: 0 auto;
  background: white;
}

#menu div.icon {
  display: inline-block;
  margin: 1em;
  width: 4em;
}

#menu img {
  display: inline-block;
  height: 3em;
  margin-bottom: 1em;
  vertical-align: middle;
  cursor: hand;
}
#menu span {
  display: block;
}

#map {
  height: calc(100% - 2em);
}

#listbar {
  height: 1em;
  font-size: 2em;
  line-height: 1em;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

#listbar img {
  height: 1em;
  vertical-align: top;
}
#list {
  padding: 1em;
  display: none;
}
#list .item {
  margin-bottom: 1em;
  padding: 1em;
  border: 1px solid lightgrey;
  overflow; auto;
}
#list .item img {
  vertical-align: middle;
}

.hours {
  padding-left: .5em;
}

footer {
  position: inherit;
  bottom: 0;
  background: #eee;
  color: #333;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .site-content {
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .translate {
    right: 0;
    top: 0;
  }
}
