#page {
  margin-top: 5%;
}

.hours label {
  display: inline-block;
  width: 37%;
}

.hours label:last-of-type {
  width: 20%;
  text-align: right;
}

.hours span {
  width: 1%
}

@media screen and (max-width: 992px) {
  .hours label:last-of-type {
    width: 15%;
    text-align: right;
  }
}
